
*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcscheme

Algorithms/QR Factorization/QR Factorization.xcodeproj/xcuserdata/Joshua.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate

*.xcuserstate

Data Structures/Splay Tree/Splay Tree.xcodeproj/project.xcworkspace/xcuserdata/Joshua.xcuserdatad/UserInterfaceState.xcuserstate
